############################
# Node
############################
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.pnpm-store/

############################
# Vite / React
############################
dist/
dist-ssr/
.vite/
*.local

############################
# Env
############################
.env
.env.*
!.env.example

############################
# OS
############################
.DS_Store
Thumbs.db

############################
# Editor / IDE
############################
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

############################
# Logs
############################
logs/
*.log

############################
# Testing / Coverage
############################
coverage/

############################
# Build tools / cache
############################
.cache/
.eslintcache